/*.page-container{ height:100%; min-height:900px; padding:50px 0;}*/

/*.logged-in.admin-bar .site-header{margin-top: 30px;}*/




/*Netforum Page CSS*/
table#WizardContentTable{ margin: 0 auto; width:100%; }
#DesignedTable{ margin:0 auto;}
table#WizardContentTable *{ line-height:18px;}
.DesignedTable{ width: 100% !important;  }
#LEGEND_6, #LEGEND_0, #LEGEND_1{
	font-family: 'Conv_Gotham-Medium';
	font-weight: 400;
	font-size: 20px;
	color: #280071;
	line-height: 1.3em;
	border-bottom: solid 1px #7f736f;
    padding: 0 0 18px 0;
    margin: 60px 0 27px 0;
	width:100%;
}

#UPDATEGRIDCONTROL_DOD_Invoice_Detail_de0ce2d3-537b-4ba5-a774-1e5d6df01f07{
	font-family: 'Conv_Gotham-Medium';
	font-weight: 400;
	font-size: 16px;
	color: #280071;
	line-height: 1.3em;
	border-top: solid 1px #7f736f;
    padding:18px 0 0 0;
    margin: 27px 0; display: block;
	width:100%;
}
#UPDATEGRIDCONTROL_DOD_Invoice_Detail_c2c49518-fdfe-4781-a324-c64a66ea73a6{ display:none; }

table#WizardContentTable label {float: left; min-width: 170px; }

label#Caption_reg_rgt_key, 
label#Caption_url_code, 
label#Caption_reg_cxa_key, 
label#Caption_reg_src_key,
label#Caption_reg_badge_name, 
label#Caption_reg_org_name_dn, 
label#Caption_reg_ixo_title_dn, 
label#Caption_reg_adr_city, 
label#Caption_reg_adr_state
{ line-height: 42px; }



table#WizardContentTable .controls span#reg_evt_key_Display_Text_{ display: table; }
table#WizardContentTable .controls .bold, #evt_start_date, #evt_end_date{ font-weight:bold;}

table#WizardContentTable #reg_cxa_key_DDLAE p:empty{ display:none; }

table#WizardContentTable select#reg_rgt_key, 
table#WizardContentTable select#reg_src_key, 
table#WizardContentTable select#reg_adr_state{ 
	background:#ffffff url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 94% center;  
	background-size:10px auto;
	cursor:pointer;
	border: none; 
	border-bottom: solid 1px #41a0da; 
	padding:13px 20px; 
	width: 68%;
	box-shadow: none;
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

 
table#WizardContentTable select#reg_rgt_key option, 
table#WizardContentTable select#reg_src_key option, 
table#WizardContentTable select#reg_adr_state option
{
	border:none !important;
	padding:13px 20px; 
	background: #ffffff;
	box-shadow: none !important;
	position:relative;
}

table#WizardContentTable select#reg_cxa_key{background:#ffffff url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 94% center;  background-size:10px auto;	cursor:pointer;	border: none; border-bottom: solid 1px #41a0da; padding:13px 20px; width: 49%;box-shadow: none;-moz-appearance:none; /* Firefox */   -webkit-appearance:none; /* Safari and Chrome */appearance:none;} 
table#WizardContentTable select#reg_cxa_key option{ border:none !important; padding:13px 20px; background: #ffffff; box-shadow: none !important;}
table#WizardContentTable #reg_cxa_key_oAddEditDiv{ float:right; display:contents; }
table#WizardContentTable #reg_cxa_key_oEditHyperLink span, table#WizardContentTable #reg_cxa_key_oAddHyperLink span{ margin:1px 0 0 4px; border:solid 1px #968c88; color:#968c88; font-size:20px; width:45px; height:45px; line-height:40px; text-align:center; }


table#WizardContentTable #url_code, 
table#WizardContentTable #reg_badge_name, 
table#WizardContentTable #reg_org_name_dn,
table#WizardContentTable #reg_ixo_title_dn,
table#WizardContentTable #reg_adr_city
{ border:none; border-bottom: solid 1px #9e9591; padding:15px 20px; width: 68%;}

table#WizardContentTable #cxa_mailing_label_html{color:#fff; background:#0082d3; display:block; width:69%; margin-left:31%; padding:30px;}
.table.table-striped{ background:#ffffff;}
.table.table-striped tr th{vertical-align: middle; background:#0082d3; padding:10px 5px; color:#ffffff; text-align:left; }
.table.table-striped tr td{ padding:20px 5px; text-align:left; }

.table.table-striped tr td div.controls input{ padding:17px 5px 14px 5px !important; background:#f2f2ed; border:none; border-bottom:2px solid #8bc2e2; color:#248bd5;}
#inv_total{}
table#WizardContentTable .blue{color:#0082d3 !important; }

#ValidationSummaryTop ul{ list-style:none; padding-left:0; margin-top:30px; display:block; }
#ValidationSummaryTop ul li{ background:#7f736f; color:#ffffff; padding:24px 35px;font-family: 'Conv_Gotham-Medium'; font-weight: 400; font-size: 16px;}
#ValidationSummaryTop:last-child ul li{ background:#d36462;}

#US888{ margin: 0; padding:4px 0 0 0; line-height: 25px; color: #280071; background: #edede6; position:relative; margin:80px 0 0 0; display:block;  }
#US888:before{ content:''; position:absolute; top:0; left:0; width:100%; border-top:solid 5px #fff; display:block;}

#US109{ margin: 0; padding: 14px 0; line-height: 25px; color: #280071; background: #edede6;}

.WizardTitle{ color: #280071;  font-size: 15px !important; padding: 14px 0;}
.WizardHeader{color: #d36462; padding: 14px 0;}
.help-block{ color:#d36462;padding-top: 5px !important; display: block; }

#Caption_inv_total, #inv_total, 
#Caption_inv_discount, #inv_discount, 
#Caption_inv_tax, #inv_tax, 
#Caption_inv_shipping, #inv_shipping, 
#Caption_inv_nettotal, #inv_nettotal, 
#Caption_inv_previous_netpayment, #inv_previous_netpayment, 
#Caption_inv_netunpaidbalance, #inv_netunpaidbalance{ border-bottom: solid 1px #7f736f; padding:0 30px 25px 0; margin:0 0 0 0;display: inline-block; line-height:0px !important;}

#US895, #US116{ display:none; }
.WizardTitleSeparator{ position:relative; padding:0 5px;}
.WizardTitleSeparator:after{ position:relative; content:'>'; font-size: 14px; font-weight: bold;}

#US904 #DesignedTable{ width:100%; padding-bottom:60px; margin-bottom:30px; border-bottom:solid 5px #fff; display:block;}
table#WizardContentTable .container{ max-width:100%;}

/*-- Gravity Form --*/
.gform_wrapper form .gform_body {width: 85%; float: left;}
.gform_wrapper .top_label li.gfield.gf_inline {width: 33% !important; padding-right: 25px;}
.gform_wrapper .gform_footer {padding: 12px 0 10px 0; margin: 0px 0 0 0; text-align: right; clear: none; width: 15%; float: left;}
.gform_body .ginput_container input.large {border: none; border-bottom: solid 1px #9e9591; padding: 10px 0px 5px; background: transparent; margin-bottom: 20px; margin-right: 0px;}
.gform_footer .gform_button.button{padding: 10px; font-weight: 400; font-family: "Conv_Gotham-Medium"; position: relative; font-size: 15px; color: #fff; background: #280071; text-transform: uppercase; min-width: 130px; display: inline-block; text-align: center; transition: 0.2s; border: #280071 2px solid; height: 100%;}
.gform_footer .gform_button.button:hover {color: #fff; background: #0082d3; border: #0082d3 2px solid; text-decoration: none;}
.gform_confirmation_message_1 {text-align: center; font-weight: 600;}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {border-radius: 0px !important; height: 100%;}
input[type=submit] {border-radius: 0px !important; height: 100%;}
/*-- error msg --*/
.gform_wrapper li.gfield.gfield_error {background-color: transparent; border: 0px !important;}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {border: 0px; border-bottom: 1px solid #790000;}
.gform_wrapper li.gfield.gfield_error.gf_inline {margin-right: 0px;}

.iframe-container{position: relative; width: 100%; padding-bottom: 51%; height: 0; margin-bottom: 20px;}
.iframe-container iframe{position: absolute; top:0; left: 0; width: 100%; height: 100%;}

#gform_confirmation_wrapper_2{text-align: center; font-weight: 600;}
.interior-list-wp p.no-result {text-align: center; font-weight: 600; margin: 50px 0px 10px;}


/*-- 404 Page --*/
.wrp404 {padding: 85px 0px 100px; text-align: center;}
.wrp404-tag {margin-bottom: 50px;}
.wrp404-tag span{margin: 0px 0px 15px; display: block; font-size: 170px; font-weight: 900; line-height: 180px; letter-spacing: 35px;}
.wrp404 .error-description {font-size: 18px;}

/*-- Award Page --*/
.awards-search-form select.form-control {width: 100%; height: 42px; padding: 0px 20px 0px; border: 0px; border-bottom: #b5b5b5 2px solid; margin: 0px 0px 40px;}
.awards-search-form input.form-control {width: 69%; float: left; height: 42px; padding: 0px 20px 0px; border: 0px; border-bottom: #b5b5b5 2px solid; margin: 0px 15px 20px 0px;}
.form-btn {float: left; width: 20%;}
.awards-search-form button.button-with-arrow {border: 0px; transition: 0.2s;}
.awards-search-form .grey_color {color: #cccccc;}
.awards-search-form h2 {font-weight: 600; border-bottom: #280071 3px solid; padding-bottom: 20px; margin: 0px 0px 30px;}
.awards-search-form h2 span{color: #0082d3;}
.awards-search-form label {margin: 0px 0px 15px; display: block;}
.awards-search-form select {-webkit-appearance: none; -moz-appearance: none; background: #ffffff url('../images/select-arrow.png') no-repeat 97% center;}

.awards-search-form form.last-fm {margin: 20px 0px 0px;}


/*-- table css --*/
tbody>tr:nth-child(odd)>td, tbody>tr:nth-child(odd)>th {background-color: #f9f9f9;}
table {margin-bottom: 20px;}

.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {top: 43% !important;}

/*-- Global Form css --*/
input[type="email"], input[type="text"]  {border: none; border-bottom: solid 1px #9e9591; padding: 15px 0px; width: 70%; background: transparent; margin-bottom: 20px;}
textarea {border: none; border-bottom: solid 1px #9e9591; padding: 15px 0px; width: 70%; height: 100px;  background-color: transparent; resize: none;}
input[type="submit"] {padding: 12px 25px; font-weight: 400; font-family: "HCo_Gotham-Medium"; position: relative;    font-size: 15px; color: #fff; background: #280071; text-transform: uppercase; min-width: 130px; display: inline-block; text-align: center; border: 0px; transition: 0.2s;}
input[type="submit"]:hover {color: #fff; background: #0082d3; text-decoration: none;}

@media (max-width: 1199px) and (min-width: 768px) {
	.our-certifications {flex-wrap: wrap;}
	.our-certifications .vc_col-sm-2 {width: 33.33% !important; margin-bottom: 25px;}
	#section2 {padding: 50px 0 40px 0;}
}

@media (max-width: 1199px) {
	.awards-search-form input.form-control {width: 100%; margin: 0px 15px 15px 0px;}
	.form-btn {float: left; width: 100%;}
	.awards-search-form form {margin: 0px 0px 20px; float: left; width: 100%;}
	.awards-search-form form.last-fm {margin: 0px 0px 0px;}
}

@media (max-width: 1023px) {
	.gform_wrapper form .gform_body {width: 100%;}
}

@media (max-width: 767px) {
h3.gform_title {margin-bottom: 30px !important;}
.gform_wrapper .top_label li.gfield.gf_inline {width: 100% !important; padding-right: 0px; margin-bottom: 10px;}
table#WizardContentTable select#reg_rgt_key, 
table#WizardContentTable select#reg_src_key, 
table#WizardContentTable select#reg_adr_state, 
table#WizardContentTable #url_code, table#WizardContentTable #reg_badge_name, table#WizardContentTable #reg_org_name_dn, table#WizardContentTable #reg_ixo_title_dn, table#WizardContentTable #reg_adr_city
{ width:100%; }
table#WizardContentTable select#reg_cxa_key{ width:65%; }
table#WizardContentTable #cxa_mailing_label_html{ width:100%; margin:0;}
#UPDATEGRIDCONTROL_DOD_Invoice_Detail{ width:100% !important; overflow: scroll !important;  }
#UPDATEGRIDCONTROL_DOD_Invoice_Detail_c2c49518-fdfe-4781-a324-c64a66ea73a6{ display:none; }
#UPDATEGRIDCONTROL_DOD_Invoice_Detail_de0ce2d3-537b-4ba5-a774-1e5d6df01f07{ display:block; width:100%; }
#DesignedTable {width: 100%;}
.wrp404-tag span {font-size: 85px; line-height: 115px;}
}
@media (max-width: 375px) {
	.table.table-striped {overflow: auto; margin:0 auto; width: 100%; display: block; max-width:320px; }
}

@media (min-width: 376px) and (max-width: 767px){
	.table.table-striped {overflow: auto; margin:0 auto; width: 100%; display: block; max-width:360px;  }
	span#reg_eml_key_Display_Text_ { width: 45%; float: left; margin-bottom: 30px; word-break: break-all; }
}
@media (min-width: 425px) and (max-width: 767px){
	.table.table-striped {overflow: auto; margin:0 auto; width: 100%; display: block; max-width:424px; }
}

@media (min-width: 768px) and (max-width: 991px){
	.table.table-striped {overflow: auto; margin:0 auto; width: 100%; display: block; max-width:660px; }
	 table#WizardContentTable #cxa_mailing_label_html{ margin-left:27% !important; }
}
@media (min-width: 992px) and (max-width: 1023px){
	.table.table-striped {overflow: auto; margin:0 auto; width: 100%; display: block; /* max-width:660px; */}
	 /*table#WizardContentTable #cxa_mailing_label_html{ margin-left:27% !important; }*/
}
@media (min-width: 1024px) and (max-width: 1170px){
	.table.table-striped {overflow: auto; margin:0 auto; width: 100%; /*display: block; max-width:690px;*/ }
	/*table#WizardContentTable #cxa_mailing_label_html{ margin-left:27% !important; }*/
}

@media (min-width: 1281px) and (max-width: 1365px){
	 table#WizardContentTable #cxa_mailing_label_html{ margin-left:27% !important; }
} 