.main-content{ /*min-height: 600px; */padding: 50px 0; }
iframe {
	max-width: 100%;
}
.page-container.landing-page-containe {min-height: 300px;}
.page-container.landing-page-containe .members-access-error {padding-top: 35px;}
/*-- 404 Page --*/
.wrp404 {padding: 85px 0px 100px; text-align: center;}
.wrp404-tag {margin-bottom: 50px;}
.wrp404-tag span{margin: 0px 0px 15px; display: block; font-size: 200px; font-weight:100; line-height: 180px; letter-spacing: 35px;}
.wrp404 .error-description {font-size: 18px;}

.listing-page .list-box {background: #e8f0f1;}
.pagination ul li .page-numbers{background: #5e818a;}
.pagination ul li .page-numbers.current, .pagination ul li .page-numbers:hover {color: #fff; background: #3d4d55;}

.find-link .button-with-arrow {
    margin-left: 0;
}

.searchform {
    background: #fff;
	position:relative;
	float: right;
	margin-bottom: 30px;
}
.searchform input[type="text"] {
	padding: 11px 15px;
	float: left;
	border: 0;
	background: #eff3e7;
	border-radius: 3px 0 0 3px;
	width:300px;
}
@media ( max-width: 767px ) {	
	.searchform input[type="text"] {
		width:auto;
	}
}
.searchform  .button-with-arrow {
	font-family: 'Lato', sans-serif;
	padding: 9px 25px;
	font-weight: 700;
	position: relative;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	background: #5e818a;
	min-width: 130px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin-left:20px;
	border:0;
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:	none;
}
.search-wrap .search-content h3 a {
	line-height: 40px;
}

.searh-label {
	background: #fff;
	width: auto;
	padding: 10px 30px 12px;
	border-radius: 10px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
	height: auto;
	display: table;
	margin-left:20px;
}

/*-- Content page --*/
@media (min-width: 1200px) {
	.custom-vs-img.bottom-space-img {float: right; height: 80px;}
}
@media (min-width: 768px) {
.custom-vs-img img {max-width: 250px !important; width: auto !important;}
.custom-vs-img.min-height-img img {max-height: 150px; height: auto;}
}
@media (max-width: 767px) {
.custom-vs-img img {max-width: 270px !important; display: table;}
.searh-label  {margin-left:0;}
}


/*-- Accordion style --*/
.vc_tta-accordion .vc_tta-panels .vc_tta-panel:nth-of-type(odd) {
    background-color: #e8f0f1 !important;
}
.vc_tta-accordion .vc_tta-panels .vc_tta-panel:nth-of-type(even) {
    background-color: #ffffff !important;
}
.vc_tta-accordion h4 span.vc_tta-title-text{ font-size: 16px; }
.vc_tta-accordion .vc_tta-panels .vc_tta-panel:nth-of-type(odd) .vc_tta-panel-title>a{
	border-bottom: #e0e0e0 1px solid;
}
.vc_tta-accordion .vc_tta-panel .vc_tta-panel-heading {
	/*border-color: transparent !important;*/
    background-color: transparent !important;
}
.vc_tta-accordion .vc_tta-panel .vc_tta-panel-body {
	background-color: transparent !important;
}
.vc_tta.vc_tta-accordion .top-image-card .module-image-wrap {height:420px;}
.mobile-login-menu li a {
	background: #5e818a;
	border-radius: 30px;
	color: #fff;
	padding: 8px 16px;
	text-decoration: none;
}
.nav-header .find-link.mobile-login-menu li {
	list-style: none;
	margin-left: 2px;
}
.vc_tta-accordion table {
	margin-bottom: 30px;
}
.vc_tta-accordion table td {
	border: solid 1px #bcd5d7;
	padding: 8px 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {	
    .search-wrap .search-listing-img {
            max-width: 25%;
    }
    .search-wrap .search-content h3 a {
            line-height: 27px;
            font-size: 24px;
    }
}


/**A*Y*A*Z*/
.news-border-bottom{ border-bottom:solid 1px #ddd; padding-bottom:35px;}
.find-link > a{ position:relative; }
.find-link > a:hover{color: #d5b36a; }
.find-link > a:before {font-size: 38px;position: absolute; left: -19px; top: -11px; content: '.'; color: #d5b36a;}
.find-link a.button-with-arrow:before { display:none !important;}
.find-link a.button-with-arrow:hover{ color:#ffffff;}

.site-header .social-channels {margin: 4px 0 0 5px !important;}
.nav-header .find-link {margin-right: 10px !important;}
.button-with-arrow {min-width: 120px !important;}
.header-top-menu a {font-size: 15px !important;}

@media (max-width: 1023px){
	.find-link > a:before {left: 0px;}
	.site-header .social-channels {position: relative; left: -7px;}
}
@media (min-width: 768px){
	.box-equal-height{ display:flex; margin-bottom: 50px;}
	.box-equal-height .vc_column_container>.vc_column-inner,  .box-equal-height .wpb_wrapper{ height:100%; }
	.box-equal-height .top-image-card .top-module-content{ padding-bottom:0;}
}

