
// $columns should be an integer between 1 and 12 
//
// $container-width default to variable defined in variables.scss, but can be replaced
// by another variable or a value with units (e.g., "1000px", "100%", "5rem")

@mixin flex($columns, $container-width: $wrapper-width, $total-columns: 12) {
    $fl-flex-basis: ($columns * ($container-width/$total-columns));
    flex: 0 1 #{$fl-flex-basis};
    padding-left: 10px;
    padding-right: 10px;

    @media #{$mobile-query} {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

// flex-rows should be used for content that sits side-by-side on desktop; 
// this is just a standardized flex container and can be substituted
.flex-row {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    
    @media #{$mobile-query} {
        flex-flow: row wrap;
    }
}

// a simple wrapper; does not contain any flex properties
.flex-wrapper {
    width: 100%;
    max-width: $wrapper-width;
}
