.social-channels{
float: right;
padding:0;
margin:0;
text-align: right;
color: $white;
	ul{ 
		list-style: none;
		margin: 0; padding: 0;
		li{ 
			display: inline-block; 
			margin:0 0 0 4px;
			padding: 0;
			a{ text-align: center; }
		 }
		i{ 
			width: 30px; 
			height: 30px; 
			line-height: 30px; 
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
		}
	 }
	span {
		margin-right: 5px;
	}
	.fa {
		transition: 0.4s ease all;
	}
	.fa-facebook {
		background: $brand-facebook;
		color: $white;
		&:hover {background: darken($brand-facebook, 10%);}
	}
	.fa-twitter {
		background: $brand-twitter;
		color: $white;
		&:hover {background: darken($brand-twitter, 10%);}
	}
	.fa-linkedin {
		background: $brand-linkedin;
		color: $white;
		&:hover {background: darken($brand-linkedin, 10%);}
	}

	.fa-instagram {
		background: $brand-instagram;
		color: $white;
		&:hover {background: darken($brand-instagram, 10%);}
	}

	.fa-youtube {
		background: $brand-youtube;
		color: $white;
		&:hover {background: darken($brand-youtube, 10%);}
	}

	.fa-flickr {
		background: $brand-flickr;
		color: $white;
		&:hover {background: darken($brand-flickr, 10%);}
	}

}

.footer-logo{ 
	margin-bottom: 0;
	max-width: 300px;
	@media (max-width: 767px) {
		margin-left: auto; 
		margin-right: auto; 
		width: 100%;
	}

	@media (min-width: 768px) and (max-width: 1023px){
		margin:0 auto 15px auto; 
	}


}

.site-footer{

	background: $mystic;
	color: $gray;
	padding:60px 0 0 0;

	.button-with-arrow{
		margin-bottom: 18px;
		min-width: 140px !important;
	}

	.footer-button-res{
		 
		text-align: right;
		
		@media (min-width: 1200px){
			flex: 0 0 16% !important;
	    	max-width: 16% !important;
		}

		@media (min-width: 1024px) and (max-width: 1199px)  {
		    flex: 0 0 24%;
		    max-width: 24%;
		}

		@media (max-width: 767px) {
		
			.button-with-arrow{ display: inline-block;	margin-right: 17%;}
			.white-button-with-arrow { display: inline-block;}
		}

		@media (max-width: 375px) {		
			.button-with-arrow{ margin-right: 5%;}
		}

	}

		@media (min-width: 768px) and (max-width: 1023px) {
			.col-md-3{ 
				padding-top: 15px; 
				padding-bottom: 15px 
			}

		}
	.footer-navigation{
 		 
 		@media (max-width: 767px) {
			padding-top:40px;
			padding-bottom:5px;
			float: left;
			width: 50%;
		}
		ul{	
			display: block;
			padding: 0;
			margin: 0;

			li{
				display: block;
				font-weight: 700;
			ul{ 
				padding-top:18px; 
				li{font-weight: 400;}
			}
				a{
					padding:0;
					margin:0 0 5px 0;
					color: $gray;
					&:hover{
						color:$green;
						text-decoration: none;
					}
				}
			}
		}
	}

}


.copyright-area{
		width: 100%;
		border-top: solid $sky-blue 1px;
		padding: 25px 0 45px 0;
		margin:30px 0 0 0;
		line-height: 29px;
		color: $gray;

		a{
		color: $gray;
		text-decoration: none;
			&:hover{
				color: $green;
				text-decoration: underline;
			}
		}
 

	.copyright{
		text-align: center;
	}
}




@media (max-width: 767px) {
	.footer-button-res {
		width: 50%;
		padding-top: 40px;
	}
	.site-footer .footer-navigation ul li {
		text-align: center;
	}
}