.home .main-content{ padding:0; }


#home-section-1{ background: $sky-blue; background-size: 100% 100% !important; padding-top: 60px;
    padding-bottom: 60px; min-height: 500px; background-position: center !important; background-repeat: no-repeat !important; }

.home #home-section-1{padding-top: 0; padding-bottom:0;}
.home-hero-area{
	padding:120px 55px 100px 55px;
	margin: 0;
	h3{ color: $white; }
	p{ color: $white;}
	.wpb_wrapper{ position: relative;  z-index: 1;} 
	&:after{
		content:''; position: absolute; width: 100%; height: 100%; bottom: 0; left: 0;
		background: rgb(61,77,85);
		background: linear-gradient(360deg, rgba(61,77,85,1) 25%, rgba(61,77,85,0.09287464985994398) 100%);
	}

	.gold-button-with-arrow{ margin-right: 20px !important; }
	@media screen and (max-width: 767px){
		.gold-button-with-arrow{ margin-right: 10px !important; }
	}

	@media screen and (max-width: 424px){
		.gold-button-with-arrow{ padding: 9px 15px !important}
	}
}


#home-section-2{padding: 60px 0; }



.featured-events{
	background: $mystic;
	border-bottom: solid 1px $sky-blue;
	padding:25px 30px 20px 30px; 
	margin:0;
	@media (min-width: 768px) and (max-width: 1023px){
		padding: 15px 10px 15px 10px;
	}

	&.last-border{ border:none;}
	&:hover{ background: $hurricane-mist; }
	&:hover h5{ text-decoration: underline; }
	p{ margin: 0; padding: 0; }
	a{ 
		text-decoration: none;
		&:hover{text-decoration: underline; color:$gray;}
	 }
	 &:hover .events-date{ background: $steel; color: $white; }
	.events-date{
		width: 100px;
		height: 100px;
		padding:20px 0; 
		margin-right: 30px;
		float:left;
		background: $hurricane-mist;
		text-align: center;
		background: $white;
		transition:all ease 1s; -webkit-transition:all ease 1s; -o-transition:all ease 1s; -ms-transition:all ease 1s; -moz-transition:all ease 1s; -moz-transition:all ease 1s;
		strong{ display:block; }

		@media (min-width: 768px) and (max-width: 1023px){
				width: 70px;
				height: 70px;
				padding:5px 0; 
				margin-right: 15px;
		}

	}

	.featured-events-content{ 
		display: table; 
		h5{ 
			margin-bottom: 15px; 

			&:hover{color:$gray; }

		}
	}

}

.all-events-page-style{

	.featured-events{
	 background:none;
	&:hover{ background:none; }

	border-bottom: solid $sky-blue 1px;
	

	padding:0 0 25px 0; 
	margin-bottom:20px;
	p{ margin: 0; padding: 0; }
	a{ 
		text-decoration: none;
		&:hover{text-decoration: underline; color:$gray;}

	 }
	&.last-border{ border:none; margin-bottom: 0; padding-bottom: 0; }
	 &:hover .events-date{ background: $hurricane-mist; color:#3d4d55; }
	.events-date{
		width: 100px;
		height: 100px;
		padding:20px 0; 
		margin-right: 30px;
		float:left;
		background: $hurricane-mist;
		text-align: center;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	
		strong{ display:block; }
	}

	.featured-events-content{ 
		display: table; 
		h5{ 
			margin-bottom: 15px; 

			&:hover{color:$gray; }

		}
	}

}
}


#home-section-6{ background: $sky-blue; padding-top:55px; padding-bottom:45px; }
.our-services > div{ padding: 0 !important;  }
.our-services {
	position: relative;
	
	.services-content{
		position: absolute;
		bottom: 0; 
		background:url(../images/services-content-bg.png) no-repeat left bottom;
		padding:225px 68px 40px 50px;
		height: 100%; 

		h3 { 
			a{
				margin-bottom: 10px; 
				color: $white; 
				text-decoration: none; 
				color: $white;
				&:hover {color: $gold; text-decoration: underline;}
			}
		}
		p{color: $white;}
		a.readmore{
			display: table; 
			color: $gold; 
			margin-top: 10px; 
			text-decoration: underline;
			&:hover {color: $white; text-decoration: underline;}
		}
	}

	/*&:hover a.readmore{ color: $white;}
	&:hover h3 a{ color: $gold; text-decoration: underline;}*/

}

#home-section-4{ padding-top: 65px; padding-bottom: 65px; background: $mystic; }
.our-resources{
	padding:0 15px;
	/*padding-right: 25px;  */

	&.resources-border-box{  

		border-right:solid 1px #ccdfe0; border-left:solid 1px #ccdfe0;

		@media (max-width: 767px) {
			border-right:none; border-left:none;
			border-top:solid 1px #ccdfe0; border-bottom:solid 1px #ccdfe0;		
			padding-top: 30px;
			margin-bottom: 30px;	
		}
	 }

	h5{
		a{ 
			color: $green !important;
			&:hover{color:$gray !important; text-decoration: underline; opacity: 1 !important}
		 }
	}
	.wpb_single_image{ 
		margin-bottom: 15px; 
	}
	
	p{ 
		margin-bottom: 15px; 
	
		&:last-child{ margin-bottom:0; }
	}
}

.green-module-card{
	.member-image-wrap{ 
		width: 100%; 

		img{
			width: 100%;
			height: 100%;
			@media (max-width: 767px) {
				width: auto;
				object-fit: cover;
			}
			@media (min-width: 768px) and (max-width: 1023px) {
				width: auto;
				object-fit: cover;
			}
		}
	}
	h3{
		color: $white;
		text-align: left;
		margin: 0;
		padding: 0;
		display: table;
		@media (min-width: 1200px){
			max-width: 70%;
		}
		a{
			color: $gold;
			text-decoration: underline;
			&:hover{text-decoration:none;}
		}
			@media (max-width: 767px) {
				font-size:20px;
				line-height:25px;
				padding:0 15px;
				strong{	line-height:25px; }
				br{
					display: none;
				}


			}
			@media (min-width: 768px) and (max-width: 1023px) {
				padding:0 30px;
				br{
					display: none;
				}
			}
	}

	.member-benefit-text{ 
		position: absolute;
		left: 0; 
		right: 0;
		margin: 0 auto;
		max-width: 1170px;
		top: 50%;
		transform: translateY(-50%);
		img{
			position: relative;
			top: 2px;
			@media (max-width: 767px) {
				width: 17px; 
			}
		}
	}

	@media (max-width: 767px) {
	    height: 180px;
	}

	@media (min-width: 768px)  and (max-width: 1023px) {
		height:300px;
	}
	.button-right{ 
		float: right;
		margin-top:-90px;
		.gold-button-with-arrow{ 
			min-width:145px;
			color: $green;
			text-decoration: none;
			&:hover{color:$gold;}
		}
		
	}
	.button-left{ 
		float: left;
		margin:30px 50px 40px 0px;
		.gold-button-with-arrow{ 
			min-width:145px;
			margin: 0 50px 0 0;
			color: $green;
			text-decoration: none;
			&:hover{color:$gold;}
		}
	}
}


#home-section-5{ padding-top: 75px; padding-bottom: 55px; background: $hurricane-mist; }

.module-style-quote{
	border-left: solid 1px $sky-blue;
	padding-left: 15px;
    margin-left:0;

    h3{ position: relative; } 

	h3:before{ 
		background:url(../images/quote-icon-with-bg.png) no-repeat; 
		content: ''; 
		position: relative;
		display: inline-block;
		float: left;
		bottom: 0; 
		left: 0; 
		width: 62px; 
		height: 62px;
		margin: 0 20px 0 0;
	}


	.module-quote-thumb{
		position: relative;

 
		.wpb_single_image{
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			overflow: hidden;
			
		}
	}
}

.overall-online-revenue{
	.overall-online-left{ 
		h2{ font-size: 45px; color: $gold; margin: 0; padding: 0;  }
	}
}
#section-space{ padding-top: 60px; padding-bottom: 60px; }
.top-image-card {
	height: 100%;
	width: 100%;
	padding:0;
	margin:12px 0;
	box-shadow: 0 0 15px #c3dbde;

	@media (max-width: 767px){
		padding-bottom: 30px;
		margin:0 0 30px 0;
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		padding-bottom: 30px;
	}
	a{
		text-decoration: none;

	}
	.top-module-content{ padding:35px 40px 40px 40px; }
	.module-image-wrap {
		margin: 0;
		height: 205px;
		border-bottom: solid 5px $gold;
		overflow: hidden;
		img {
			width: 100%;
			min-height: 205px;
			object-fit: cover;
		}
	}
	h5 {
		margin:0 0 15px 0;
		&:hover{text-decoration: underline;}
	}

	.module-card {
		padding:0;
		.module-text{}
		.link-with-right-arrow{ margin-top: 20px; display: table;}
	}

	@media (min-width: 1024px) and (max-width: 1170px) {
		.module-image-wrap {
			height: auto !important;
			img {
				min-height: inherit !important;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		.module-image-wrap {
			height: auto !important;
			img {
				min-height: inherit !important;
			}
		}
	}

	@media (max-width: 767px) {
		.module-image-wrap {
			height: auto;
			img {
				min-height: inherit !important;
			}
		}
	}
} 
.top-image-card-portrait{
	.module-image-wrap {
		margin: 0;
		height: 255px ;
		overflow: hidden;
		
		img {
			width: 100%;
			min-height: 255px;
			object-fit: cover;
		}
	
	}
	 
	@media (min-width: 1024px) and (max-width: 1170px) {
		.module-image-wrap {
			height: auto !important;
			img {
				min-height: inherit !important;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		.module-image-wrap {
			height: auto !important;
			img {
				min-height: inherit !important;
			}
		}
	}

	@media (max-width: 767px) {
		.module-image-wrap {
			height: auto;
			img {
				min-height: inherit !important;
			}
		}
	}
}
/*
.top-image-card-hover{
	&:hover{
		border-bottom: solid 3px $sky-blue;
	}
}*/
.our-career-wp{
	.our-career {
	    margin: 0;
	    .wpb_text_column{ margin:20px 0; display: block; }

	    .wpb_single_image{ margin:25px 0; max-width: 100px; display: inline-block; }

	    &:after{ content: ''; background: $steel; width: 100%; height: 2px; position: absolute; left: 30px; top: 51%; transform: translateY(-50%); }
	    /*&:last-child:after{ width: 30%;}*/
	    &:before{ content: ''; width: 13px; height: 13px; background: $steel; display: block !important;  position: absolute; left:30px; top: 51%; transform: translateY(-50%); -webkit-border-radius: 100%; -moz-border-radius:100%; border-radius:100%;}

	  	@media (min-width: 768px) {
	    	&.last-career:after{ width: 85%;}
		}



	}
}






.upcoming-events{
	width:100%; 
	margin:20px 0 0 0; 
	clear:both; 
	padding:0 0 20px 0;
	border-bottom: solid 1px $sky-blue;
	&:last-child{ border:none;}

	a{
		text-decoration: none;
	}

	h5 {
		a:hover{
			color: $gray;
			text-decoration: underline;
		}
	}

	strong{display: block; margin: 0 0 20px 0;  }

	.upcoming-events-date{
		font-weight: 700;
	}
	p{
		margin-bottom: 15px;
	}

	.upcoming-events-thumb{
		width: 90px;
		height: 90px;
		overflow: hidden;
		border-radius: 100%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 100%;
			min-height: 90px;
		}
	}

	.upcoming-events-education-thumb{
		width: 130px;
		height: 130px;
		overflow: hidden;
		margin-right: 30px;
		float: left;
		border:1px $gray solid;
		
		@media (max-width: 767px) {
		 	width: 80px;
			height: 80px;
			margin-right: 20px;
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			min-height: 130px;

			@media (max-width: 767px) {
			 	min-height: 90px;
			}
		}
	}
	
}

.upcoming-events-education{
	padding-bottom: 25px;
	margin-top: 25px;

	.upcoming-events-con{
		display: table;
	}
}
.upcoming-events.last-border
{
	border:none;
}


.home-project-wp{ 
	margin: 0;
	background: $green; 

	.vc_column-inner{ padding: 0; }
	.wpb_text_column{ padding: 20px 45px; color: $white;  }
	.wpb_single_image{ 
		width: 100%; padding: 0; margin: 0; 

		.wpb_wrapper{ width: 100%; }
	}
	p{color: $white; }
	h3{color: $white; }
	
	.link-with-right-arrow{ 
		margin-top: 15px;
		display: table;
		color: $gold; 
		&:after{color: $gold;}
		&:hover{ color: $white; &:after{color: $white; } }
	}

}