.search-responsive-view {
	display: none;
}
.nav-header{
	padding: 18px 0 0 0;

	.header-logo{ 
		float: left;
		max-width: 200px;
		margin: 15px 0;

		img {
			max-width: 300px;
			width: 100%;
			@media (max-width: 767px) {
				max-width: 230px;
			}
		}
	}
	.menu-top-menu-container {
		float: left;
		margin:10px 15px 0px 0px;
		@media (max-width: 1023px) {
			margin: 0px 0px 0px 0px;
		}
	}

	.header-top-menu {
		float: right;
		padding:30px 0 0 0;
		display: table;

		@media (max-width: 767px) {
			float: left;
		}
		.menu {
			padding: 0;
			margin: 0;
			z-index: 99;
    		position: relative;

			@media (max-width: 1023px) {
				padding-top: 5px;
			}

			li {
				margin: 0;
				color: $gold;
    			list-style: disc inside ; 
				font-family: 'Lato';
				font-weight: 400;
				font-size: 16px;
				float: left;
				padding:0px;
				position: relative; 
				a {
					color: $green;
					padding: 0 15px 0 0;
					&:hover{color:$gold;} 
				}
			}
			li:first-child{ list-style: none; }
		}
		 
	}

	.find-link{ 
		float: left; margin-right: 15px; 

		@media (min-width: 1170px) {
			width: 325px;
		}
		li{
			margin: 0;
			color: #d5b36a;
			list-style: disc inside;
			font-family: 'Lato';
			font-weight: 400;
			font-size: 16px;
			float: left;
			padding:10px 0 0 0px;
			position: relative;
		}
	}
}
.site-header{
	box-shadow: 0 -5px 18px #7b7b7b;
	z-index: 999;
    position: relative;

	.main-navigation{
		font-family: 'Lato';
		border-top: solid 1px $sky-blue;
		display: table;
		float: right;
		margin-top: 35px;

		h6{
			font-family: 'Lato';
			font-weight: 700;
			font-size: 16px;
			margin-bottom: 0;
				&:after {
					font-family: FontAwesome;
					content: "\f105";
					position: relative;;
					right: 8px;
					font-weight: bold;
					transition: 0.1s ease all;
					margin:0;
					bottom:0;
					padding: 0 0 0 14px;
				}
		}

		h6.empty{
			&:after{ display:none; }
		  }

		.small-book{
			font-family: 'lato' !important;
		}
		#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link{
			font-family: 'lato';
		}		
		#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item.small-book > a.mega-menu-link{
			font-family: 'lato' !important;
		}
		#mega-menu-wrap-primary .mega-menu-toggle{transition:all ease-in-out .2s;-ms-transition:all ease-in-out .2s;-webkit-transition:all ease-in-out .2s; }
		#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator:after{transition:all ease .3s !important; -ms-transition:all ease .3s !important;-webkit-transition:all ease .3s !important;}
		.mega-toggle-on span.mega-indicator:after{transform: rotate(-180deg) !important; transition:all ease .3s !important; -ms-transition:all ease .3s !important;-webkit-transition:all ease .3s !important;}

		@media (min-width: 1024px) { 
		h6.empty{
			height: 20px;
			&:after{ display:none; }
		  }
		#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover:after{ display: block; content: ''; height: 1px; width: 100%; position: absolute; left: 0; bottom:20px; background: $gray; } 
		#mega-menu-wrap-primary #mega-menu-primary ul ul ul ul li a:before{ content: '-'; position:relative; font-weight: bold; left: 0; bottom: 2px; display:inline-block !important; }
		#mega-menu-wrap-primary #mega-menu-primary ul ul ul ul li a:focus{ text-decoration: none !important; }
		#mega-menu-wrap-primary #mega-menu-primary ul ul ul ul li a{ 
			 border-bottom:solid 1px transparent !important; display: inline-table !important;

			color: $steel !important; position: relative; padding: 10px 0 0 0 !important; line-height: 15px !important;

			&:hover{ color:$gray !important; text-decoration: none !important; border-bottom:solid 1px #a5aca8 !important; }

		}
		 
			#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu{ 
				overflow: hidden;  
				/*box-shadow: 0 3px 10px 0px #c1bebe; */
				min-height: 320px;
			}
			#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu:before {
				position: absolute;
				content: '';
				top:-10px;
				left: 0;
				width: 100%;
				box-shadow:-6px -5px 18px #1b1b1b;
				display: block !important;
				height:10px;
				z-index: 9;
			}

		} /*media End*/
		.mega-menu-column{ position: static !important; }
		.widget_media_image {
			position: absolute !important;
			right: -100px !important;
			top: -50px !important;
			width: auto !important;
			z-index: -1;

			img{
				margin: 0 !important;
				padding: 0 !important;
				width: 100% !important;
			}
			@media (max-width: 1023px) {
				display:none !important;
			}


		}

	}

	.social-channels{ margin: 4px 0 0 10px; 

		@media (max-width: 767px) {
			margin: 0;
			float: left;
		}

		@media (min-width: 768px) and (max-width: 1023px) {
			margin: 0 20px 0 0;
			float: left;
		}

	}

}
 
/*-- Header search --*/
.header-search {
	width:100%; 
	position:relative; 
	margin:0 auto; 
	z-index:99999999;
	.fas.fa-search {
		line-height:21px
	}
	.header_right_form {
		position:absolute; 
		right:0; 
		z-index:999; 
		width:100%; 
		top: 193px; 
		background: $gray; 
		padding: 50px 125px;

		@media (max-width: 1023px) {
			top: 145px;
			padding: 30px 25px;
		}
		@media (max-width: 767px) {
			top: 205px;
		}

	}
	.search-field { 
		background: $white; 
		font-style: italic; 
		/*height: 58px; */
		width: 100%; 
		float: left; 
		border: none; 
		padding:10px 60px 10px 30px;
		line-height: 38px; 
		font-size:16px; 
		-webkit-appearance: none;
	   -moz-appearance: none;
	   appearance:	none;
	}
	.header_right_form button{border:none;color: $white; background:none; padding:0;float:right; margin: -40px 18px 0 0; color:#acacac; font-size: 25px; cursor:pointer;}
}
.header-search-button{
	float:left; 
	z-index: 999999999; 
	position: relative; 
	z-index: 99;
}
.header-search-button button{ 
	cursor:pointer; border:0;
	background:$gold; 
	width: 38px;
	height: 38px;
	line-height: 38px;
	outline:none; 
	padding: 0px;
	margin:0; 
	border-radius: 50px;
	transition: 0.4s;
	.fa {font-size: 18px;}
	img {width: 18px;}
	&:hover {background: $gray;}
}
.header-search-button button.active-s{
	background: $gray;
}
.header-search ::placeholder{color: $gray;}
.header-search :-ms-input-placeholder{color: $gray;}
.header-search ::-ms-input-placeholder {color: $gray;}



@media (min-width: 1024px) {
	.main-navigation .header-search-button, .mobile-login-menu{ display: none !important; }
}
@media (max-width: 1023px) {
	.main-navigation {
		position: absolute;
		display: inherit !important;
		width: auto;
		background: none !important;
		min-width: 95px;
		float: right;
		right: 20px;
		top: 50%;
		max-width: inherit;
		margin: 15px 0 0 0 !important;
		left: 0;
		border: none !important;
	}
	.nav-header .menu-top-menu-container{ float: right; }
	.nav-header .find-link, .header-top-menu .header-search-button{ display: none; }
	.mobile-login-menu{
		margin-right: 0 !important; 
		display: inherit !important;
		float: right !important;
		 li{
			margin: 0;
			color: #d5b36a;
			list-style: disc inside;
			font-family: 'Lato';
			font-weight: 400;
			font-size: 16px;
			float: left;
			padding:5px 0 0 0px !important;
			position: relative;
		}
		a{padding-left: 15px; padding-right: 10px; margin-top: 5px !important; display: inline-block; position: relative;
			&:before{ font-size:38px; position:absolute; left: 0; top:-11px; content: '.'; color: $gold; }
		}
    }
	
	/*body.mega-menu-primary-mobile-open{ overflow: hidden; }
	.mega-menu-primary-mobile-open .site-header { height: 100%; overflow: scroll;}*/

	#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block .mega-toggle-animated-slider .mega-toggle-animated-inner, 
	#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block .mega-toggle-animated-slider .mega-toggle-animated-inner::before, 
	#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block .mega-toggle-animated-slider .mega-toggle-animated-inner::after{ display: none; }
	
	#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block:after{ 
		background:url(../images/toggle-bar.png) no-repeat !important; 
		width:34px; 
		height:29px; 
		content:''; 
		font-family:inherit !important; 
		background-size:auto auto !important; 
		top:0; 
		position:relative;
		display: block !important;
	}
	#mega-menu-wrap-primary .mega-menu-toggle.mega-menu-open .mega-toggle-blocks-right .mega-toggle-block:after{
		background:url(../images/toggle-close.png) no-repeat !important; 
		width:34px; 
		height:29px; 
		content:''; 
		font-family:inherit !important; 
		background-size:auto auto !important;
		top:0; 
		position:relative;
		display: block !important;
	}
	#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block .mega-toggle-animated-box{ display: none; }
	#mega-menu-wrap-primary .mega-menu-toggle + #mega-menu-primary { top: 85px; padding:0;}
	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children.mega-toggle-on>a.mega-menu-link>span.mega-indicator:after{
		content: '\f347' !important;
	}
/* #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item, */
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu{ padding: 0; }
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu li > a,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a
		{ 
			border-bottom:solid 1px $steel !important;
		}
		.nav-header .header-logo{ z-index: 999; position: relative; }
}


/*-- Megamenu responsive css end --*/
.site-header{position: fixed; background:$white; top: 0; z-index: 9999; width: 100%;}
.site-header + * {margin-top: 193px;}

@media (max-width: 767px) {
	body.mega-menu-primary-mobile-open{ overflow: hidden; }
	.mega-menu-primary-mobile-open .site-header { height: 100%; overflow: scroll;}
	.site-header + * {margin-top: 255px;}
	.nav-header .header-top-menu .menu li a{ padding: 0 10px 0 0; font-size: 13px; 
		&:marker { margin:0; }
	}
	.mobile-login-menu{ 
		li a, a{ font-size: 13px; }
		a{padding-left: 15px; padding-right: 5px; }
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	body.mega-menu-primary-mobile-open{ overflow: hidden; }
	.mega-menu-primary-mobile-open .site-header { height: 100%; overflow: scroll;}
	.site-header + * { margin-top:210px; }

}

@media screen and (min-width: 1024px) and (max-width: 1199px){
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item{ margin-right: 10px !important }
	.site-header + * {margin-top: 180px;}
	.nav-header .header-top-menu{ padding-top: 0; display: table !important;}
	.find-link{ 
		display: flex; 
		a{
			padding-top: 10px;
			&:before{ top:0 !important; }
		}

	}
}

@media screen and (min-width: 1200px) and (max-width: 1366px){
	.nav-header .header-top-menu{ display: table;}
	.find-link{ 
		display: flex; 
		a{
			padding-top: 10px;
			&:before{ top:0 !important; }
		}

	}

}