.breadcrumbs{
	margin:0 0 30px 0;
	padding:10px 0;
	line-height:25px; 
	color:$green;
	background: #f1f1f1;
	font-size: 15px !important;
	

	a{
		color:$green;
		text-decoration: none;
		font-size: 15px !important;
		line-height: 25px;
		&:hover{
			color:$gray;
		}

	}
	a.active{
		color:$gray;
	}	
	i{
		font-weight: bold;
		margin: 0 15px;
		color:$green;
	}

}

.banner-section{
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    min-height: 250px;
    max-height: 350px;
    background: $sky-blue;
    border-bottom: $white 6px solid;

    @media (max-width: 767px) {
    	 min-height: 100px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
    	 min-height: 150px;
    }
    @media (min-width: 1024px) and (max-width: 1170px) {
    	 min-height: 220px;
    }

    img{
    	object-fit: cover;    	
    	width: 100%;
    	max-width: 100%;
		@media (max-width: 767px) {
			min-height: 50px;
	    }
	    @media (min-width: 768px) and (max-width: 1023px) {
	    	 min-height: 150px;
	    }
	    @media (min-width: 1024px) and (max-width: 1170px) {
	    	 min-height: 220px;
	    }
    }

	.banner-caption {
		width: 50%;
	    margin: 0 auto;
	    text-align: center;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    left: 0;
	    right: 0; 

	    @media (max-width: 767px) {
			width: 90%;
			h1{ margin-bottom: 0; font-size: 25px; }
    	}

	}
}

.resourceBox {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 30px !important;
	
	@media (max-width: 767px) {
		margin-bottom: 30px !important;
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		padding-left: 10px !important;
	}

	h6{
		margin-bottom: 25px;
	}
	ul { padding:0; list-style: none;}
}

.advertisement-wp{
	padding:40px 20px 0 20px;
	background: $hurricane-mist;
    border: solid 1px #c0d7d9;
    margin:0;
}
.advertisement{
 	margin-bottom: 5px !important;

	@media (max-width: 767px) {
	 		text-align: center !important;
	 		margin-top: 30px;
	 		margin-bottom: 0;
		}
 
}
.advertisement-text{
	@media (max-width: 767px) {
		text-align: center !important;
		margin-bottom: 30px;
		p{text-align: center !important;}

	}
}

.style-Iconography {

	img{ width: 80%; }
	@media (max-width: 767px) {
		img{ width:100%; }
	}
}

.search-banner-section {
	background: $sky-blue;
	padding: 50px 0px;
	margin-bottom: 50px;
	h1{ margin: 0; }
}
.search-wrap {
	.search-col {
		display: flex;
		background: $hurricane-mist;
		padding: 30px;
		margin: 0px 0px 30px;
	}
	.search-listing-img {
		padding: 0px;
		max-width: 250px;
		margin-right: 35px;
	}
	.search-content {
		padding: 0px;
		/*width: calc(100% - 250px);*/
		width: calc(100%);
		
		a {
			text-decoration: none;
			h4 {
				&:hover {
					color: $gray;
					text-decoration: underline;
				}	
			}
		}
	}
	@media (max-width: 767px) {
		.search-col {
			display: block !important;
		}
		.search-listing-img {
			margin-bottom: 25px;
		}
		.search-content {
			width: 100%;
		}
	}
	@media (max-width: 575px) {
		.search-listing-img {
			margin: 0px auto 25px;
		}
	}
}
.pagination {
	text-align: center;
	margin-top: 70px !important;
	margin-bottom: 70px !important;
	ul {
		border-radius: 0px !important;
		list-style: none;
		li {
			display: inline-block;

			a{ text-decoration: none; }
			.page-numbers {
				position: relative;
				background: $gray;
				color: $white; ;
				padding: 10px 15px;
				margin: 0px 8px;

				text-align: center;
				border-radius: 0px !important;
				border: 0px;
				transition: 0.2s ease all;
				&:hover {
					background: $gold;
					color: $white;
				}
			}
			.page-numbers.current {
				background: $gold;
				color: $white;
			}
			.next.page-numbers {
				&:before {
					content: "\f061";
					position: absolute;
					font-family: FontAwesome;
					font-weight: 300;
					font-size: 14px;
					left: 10px;
					top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%);
				}
			}
			.prev.page-numbers {
				&:before {
					content: "\f060";
					position: absolute;
					font-family: FontAwesome;
					font-weight: 300;
					font-size: 14px;
					right: 10px;
					top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%);
				}
			}
		}
	}
}


.landing-page-containe{
	.main-content{ padding: 0; }

}

.hero-area-detail{
	position: relative;
	padding: 0;

	.wpb_single_image{ 
		position: relative;
		margin: 0; 

		.vc_single_image-wrapper{
			position: relative;

			&:before{
			content:''; position: absolute; width: 100%; height: 100%; bottom: 0; left: 0;
			background: rgba(61,77,85,0.17);
			background: -moz-linear-gradient(top, rgba(61,77,85,0.17) 36%, rgba(61,77,85,0.21) 38%, rgba(61,77,85,1) 75%, rgba(61,77,85,1) 89%);
			background: -webkit-gradient(left top, left bottom, color-stop(36%, rgba(61,77,85,0.17)), color-stop(38%, rgba(61,77,85,0.21)), color-stop(75%, rgba(61,77,85,1)), color-stop(89%, rgba(61,77,85,1)));
			background: -webkit-linear-gradient(top, rgba(61,77,85,0.17) 36%, rgba(61,77,85,0.21) 38%, rgba(61,77,85,1) 75%, rgba(61,77,85,1) 89%);
			background: -o-linear-gradient(top, rgba(61,77,85,0.17) 36%, rgba(61,77,85,0.21) 38%, rgba(61,77,85,1) 75%, rgba(61,77,85,1) 89%);
			background: -ms-linear-gradient(top, rgba(61,77,85,0.17) 36%, rgba(61,77,85,0.21) 38%, rgba(61,77,85,1) 75%, rgba(61,77,85,1) 89%);
			background: linear-gradient(to bottom, rgba(61,77,85,0.17) 36%, rgba(61,77,85,0.21) 38%, rgba(61,77,85,1) 75%, rgba(61,77,85,1) 89%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4d55', endColorstr='#3d4d55', GradientType=0 );
			}
		}
		
	}
	.hero-area-caption{ 
		position: absolute; 
		z-index: 999;
		bottom: 0;
		margin: 0;
		padding: 50px 80px 50px 50px;
		color: $white;

	h2{ color: $white; }
	a{ 
		color: $gold; 
		font-size: 18px;
		&:hover{ text-decoration:none;}
	 }
	p{ color: $white; font-size: 18px; line-height: 26px; }

	}

	

}




.hero-area-services{

	.hero-services{
		
		.wpb_text_column, .vc_column-inner{ margin:0; padding: 0; }

		border-bottom: $steel solid 1px; 
		padding:0 0 15px 0;
		margin:0 0 13px 0;

		&:last-child{ border-bottom: none; padding: 0; margin: 0; } 
	}
	p{ margin: 0 0 15px 0;
		&:last-child{ margin-bottom:0; } 
	}

}
.top-content-wp{
	border-bottom: $sky-blue solid 1px; 
	padding:0 0 25px 0;
	margin:0 0 20px 0;

	a{ 
		text-decoration: none;
		&:hover{ text-decoration:underline;}
	 }
	
	&:last-child{ border-bottom: none; padding: 0; margin: 0; } 
	.wpb_text_column, .vc_column-inner{ margin:0; padding: 0; }

}

.blue-border{border-bottom:$sky-blue solid 1px; }
.gray-border{border-bottom:$gray solid 1px; }
.green-border{border-bottom:$green solid 1px; }
.gold-border{border-bottom:$gold solid 1px; }
.steel-border{border-bottom:$steel solid 1px; }


.addbox{

	img {
	    min-height: 282px;
	    object-fit: cover;
	}
}
.listing-page{

	.list-box {
		display: flex;
		background: $hurricane-mist;
		padding: 30px;
		margin: 0px 0px 30px;
		 
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.listing-box-thumb {
			padding: 0px;
			max-width: 250px;
			margin-right: 35px;
			@media (max-width: 767px) {
				max-width: inherit;
				margin-bottom: 25px;
			}
		}
		.listing-box-content {
			width: calc(100% - 250px);
			padding: 0px;
			h4 {
				margin-bottom: 15px;
			}
			.lising-date, .lising-title, .lising-company, .lising-pr_author {
				margin-bottom: 15px;
			}
			.listing-link {
				margin: 15px 0px 0px;
			}
		}
		@media (max-width: 767px) {
			.listing-box-content {
				width: 100%;
			}
			display: block !important;
		}

		.moretext {
	  		display: none;
		}


	}
}
