@media screen and (max-width:767px) {
	.nav-header{ padding-top: 0; width: 100%;  }
	.header-top-menu { background: $floral-white; padding:15px !important; width: 100%; }
	.site-header .container{ padding: 0; position: relative; }
	.nav-header .header-logo{ padding: 15px; margin: 0; }
	.main-navigation{
		.header-search-button{ float: right; top: -4px; right: 15px;}
	}
	.home #home-section-2 > .vc_row, .home #home-section-3 > .vc_row, .home #home-section-4 > .vc_row{ margin:0 !important  }
	#mega-menu-wrap-primary{ float: right; clear: inherit; }
	.vc_custom_1602757312177 { margin: 0 !important;}
	.vc_custom_1601987487409 { margin-right: -15px !important; margin-left: -15px !important;}
	.vc_custom_1601987584203 {margin-right: 15px !important; margin-left: -15px !important;}
	.home #home-section-1 { background-image: none !important; min-height: 100px;   padding-top: 0;  padding-bottom: 0 !important; }
	.home-hero-area { padding:30px 15px;}
	#home-section-1 {  background-position:top center !important; background-size: 100% auto !important; min-height: inherit; padding-top: 25px;  padding-bottom: 25px !important;}
	.our-services {
		.services-content { padding: 55% 68px 40px 50px;}
		.wpb_single_image .vc_figure{ display: grid; }
		.wpb_single_image img{ width: 100%; }
	}

	#home-section-2 {padding: 30px 0;}
	#home-section-4 { padding-top: 25px;  padding-bottom:10px;}
	.our-programs{ margin-bottom: 20px; }
	.green-module-card .member-benefit-text{ text-align: center;}
	.green-module-card .button-right { float: none; margin: 30px auto 0 auto;}
	.green-module-card .button-left { 
		float: none; margin:0 auto; text-align: center;
		.gold-button-with-arrow{ margin: 15px; }
	}
	.green-module-card .member-image-wrap img { display: none;  width: auto; object-fit: cover; height: 480px;}
	.green-module-card{ background: url(../images/green-bg-mobile.png);  height: 100%;  min-height: 450px; background-repeat: no-repeat; background-size: 100% auto;}
	.module-style-quote {
		text-align: center; border-left:none; border-top: solid 1px $sky-blue; padding:30px 0 0 0;	margin:30px 0 0 0;
		h3{ text-align: center !important; padding-bottom: 0; 
			br{ display: none; }
		}
		.wpb_single_image.vc_align_left{ text-align: center; margin-bottom: 25px !important; }
	}
	#home-section-5 { padding-top: 50px; padding-bottom: 20px;}
	.overall-online-revenue .overall-online-left, .overall-online-revenue .overall-online-right { float: left;}
	#section-space { padding-top: 40px; padding-bottom: 0;}	 
	.our-career-wp{ padding-left: 15px; }
	.our-career-wp > .wpb_column:nth-child(2n) > .vc_column-inner > .wpb_wrapper > .our-career > .wpb_column > .vc_column-inner > .wpb_wrapper { 
	    display: flex;
	    flex-wrap: wrap-reverse;
	}
	.our-career-wp .our-career{ padding-left: 50px; }
	.our-career-wp .our-career:after{ height: 100%; min-height: 240px; width: 2px; top:65%;}
	.our-career-wp .last-career:after{ display: none; }
	.our-career-wp .our-career:before{ top: 30px; left: 25px; }
	.our-career-wp .our-career .wpb_single_image{ margin: 0 0 15px 0; }
	.advertisement-wp{text-align: center;
		p{text-align: center;}
	}

	/* Landing Page Responsive CSS*/
	.hero-area-detail .hero-area-caption{ padding: 15px 30px; }
	.hero-area-detail .hero-area-caption p{ display: none; }
	.hero-area-services{ padding-top: 30px; }
	.vc_custom_1602164740912 { padding-top: 40px !important; padding-bottom: 10px !important;}
	.vc_custom_1602164935128 { padding-top: 40px !important; padding-bottom: 20px !important;}



}
 @media (min-width: 480px) and (max-width: 767px){

	.our-services {
		.services-content { padding: 70% 68px 40px 50px;}
	}

}

@media (min-width: 768px) and (max-width: 1023px){

	.site-header .container { position: relative;}
	.nav-header{ padding-top: 0; width: 100%;  }
	.header-top-menu { background: $floral-white; padding:15px !important; }

	#mega-menu-wrap-primary .mega-menu-toggle+#mega-menu-primary { top: 57px !important; }
	.site-header .container{ padding: 0; }
	.nav-header .header-logo{ padding: 15px; margin: 0; }
	.main-navigation{
		.header-search-button{ float: right; top: -4px; right: 15px;}
	}
	#mega-menu-wrap-primary{ float: right; clear: inherit; }
	.main-navigation{ max-width: inherit; top: 90px; right: 0 !important; margin: 0 !important }
	.our-programs{ 
		padding:0;
		h5{ font-size: 14px; }
	 }
	 .module-style-quote{
	 	div{ width: 100%; }
	 	br{ display: none; }
	 	h3{margin-top: 20px;}
	 }
	 .overall-online-revenue .overall-online-left{ width: 100%; }
	 .overall-online-revenue .overall-online-left .wpb_single_image{ text-align: center; }
	 .overall-online-revenue{
	 	.overall-online-right,  div{ width: 100%; padding-right: 0 !important; margin: 0; }
	 }
	.overall-online-revenue .overall-online-right{ 
		text-align: center;
		margin-top: 30px;
		h3{margin-top: 30px;} 
	}
	.our-career-wp .our-career .wpb_text_column{
		p{ margin: 0 0 30px 0 }
	}
	.our-career-wp .our-career{
		.wpb_single_image { margin: 55px 0;}
		h5{ font-size: 18px; }
	}
	.our-career-wp > .wpb_column > .vc_column-inner{ padding: 0; }
	.top-image-card .top-module-content { padding: 20px 20px 0 20px;}

	/* Landing Page Responsive CSS*/
	.hero-area-detail{ width: 100%; 
		.wpb_single_image .vc_single_image-wrapper, .wpb_single_image .vc_figure, .wpb_single_image img{ width: 100%; }
	}
	.hero-area-services{ 
		width: 100%;
		br{ display: none; }
		h3{ margin-top: 30px; }
	}
	
	.home #home-section-1 {
	    min-height: 100px;
	    padding-top: 0;
	    padding-bottom: 0 !important;
	    background-size: auto 100% !important;
	    background-position: right top !important;
	}
	.home-hero-area { 
		padding:15px 30px 15px 15px; width: 420px;
		&:after{ width: 420px;}
	}
	#home-section-1 {  background-position:top center !important; background-size: 100% auto !important; padding-top: 60px; padding-bottom: 60px; min-height: inherit; padding-top: 25px;  padding-bottom: 25px !important;}
	.green-module-card .button-right{ float: left; margin:20px 0 0 0;  }
	.green-module-card .member-image-wrap img {
	    width: auto;
	    object-fit: cover;
	}
}





@media (min-width: 1024px) and (max-width: 1200px){

	.our-services .services-content {padding: 160px 20px 40px 20px;}
	.green-module-card .member-benefit-text{ padding-left: 30px; padding-right: 30px; }
	.green-module-card .member-image-wrap { height: 300px;}
	.green-module-card .button-right {float: none; margin-top: 20px;}
	.vc_custom_1603712497466 {margin-right: 0 !important;}

	.our-programs h5{ min-height: 40px; }


	.home #home-section-1 {
	    min-height: 100px;
	    padding-top: 0;
	    padding-bottom: 0 !important;
	    background-size: 100% 100% !important;
	    background-position: right top !important;
	}
	.home-hero-area { 
		padding:15px 30px 15px 15px; width: 420px;
		&:after{ width: 420px;}
	}
	#home-section-1 { 
		min-height: inherit; 
		padding-top: 25px;  
		padding-bottom: 25px !important;
	}

}

@media (min-width: 1201px) and (max-width: 1366px){

	.home #home-section-1 {
	    min-height: 100px;
	    background-size: 100% auto !important;
	    background-position: left top !important;
	}
	.home-hero-area { 
		padding:60px 45px 70px 45px;  
	}
	 

}