@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
body,
html {
 	font-size: 16px;
 	line-height: 20px;
}

/*html {
	height: 100%; 
}*/
body {
	min-height: 100%;
	color: $gray;
	font-family: 'Lato', sans-serif;
	font-weight:400;
 	font-size: 16px;
 	line-height: 20px;
	text-size-adjust:none;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-o-text-size-adjust:none;
}
.main-wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.clear {
	clear:both;
}
p {
	line-height: 22px; 
	margin: 0px 0px 25px;
	color: $gray;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 16px;
}
a {
	color: $green; 
	text-decoration: underline;
	transition: 0.2s ease all;
	&:hover {
		color: $gray; 
	}
}

// Heading Typography
h1 {
	font-family: 'Zilla Slab', serif;
	font-size: 45px;
	color: $green;
	margin: 0px 0px 30px;
	padding: 0;
	line-height: normal;
	font-weight: 500;
	
	@media (max-width: 1023px) {
 	  font-size: 32px;
	}
	span, strong, a, b{font-size: 100%;}

}
h1.bgcolor {
	padding: 15px;
	background:$green;
	color: $white;
}
h2 {
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
	font-size: 32px;
	color: $green;
	margin: 0px 0px 15px;
	line-height: normal;

	@media (max-width: 1023px) {
 	  font-size: 28px;
	}
	span, strong, a, b{font-size: 100%;}
}
h3 {
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
	font-size: 28px;
	color: $green;
	margin: 0px 0px 20px;
	line-height: normal;
	span, strong, a, b{font-size: 100%;}
}
h4 {
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
	font-size: 24px;
	color: $green;
	margin: 0px 0px 10px;
	line-height: normal;

	span, strong, a, b{font-size: 100%;}
}
h5 {
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
	font-size: 20px;
	color: $green;
	margin: 0px 0px 15px;
	line-height: normal;

	span, strong, a, b{font-size: 100%;}
}
h6 {
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
	font-size: 18px;
	color: $green;
	margin: 0px 0px 15px;
	line-height: normal;
	
	span, strong, a, b{font-size: 100%;}
}
sup { 
	vertical-align: super; 
	font-size: 12px; 
}
p span { 
	line-height: inherit 
}
.link-with-right-arrow {
	font-family: 'Lato', sans-serif;
	position: relative;
	color: $green;
	transition: 0.1s ease all;
	padding: 0px 15px 0px 0px;
	text-decoration: none;
	border-bottom: transparent 1px solid;
	font-weight: 700;
	&:hover {
		color: $gray;
    	border-radius: 0;
    	border-bottom: $gray 1px solid;
    	&:before {color: $gray;}
	}
	&:after {
		font-family: FontAwesome;
		content: "\f054";
		position: absolute;
		color: $green;
		right: 0;
		font-size: 10px;
		font-weight: 500;
		transition: 0.1s ease all;
	}
}
.link-with-down-arrow {
	font-family: 'Lato', sans-serif;
	position: relative;
	color: $green;
	font-weight: 700;
	text-decoration: none;
	transition: 0.1s ease all;
	padding: 0px 22px 5px 0px;
	border-bottom: solid 1px transparent;
	&:hover {
		color: $gray;
    	border-radius: 0;
    	border-color: $gray;
    	&:after {color: $gray;}
	}
	&:after {
		font-family: FontAwesome;
		content: "\f078";
		position: absolute;
		color: $green;
		right: 0px;
		top: -1px;
		font-size: 10px;
		font-weight: 500;
		transition: 0.1s ease all;
	}
}
.button-with-arrow {
	font-family: 'Lato', sans-serif;
	padding:9px 25px;
	font-weight: 700;
	position: relative;
	text-decoration: none;
	font-size: 16px;
	color: $white;
	background: $steel;
	min-width:130px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	&:hover {
		color: $white;
		background: $gray;
		&:before {color: $white;}
	}
	&:after {
		font-family: FontAwesome;
		content: "\f054";
		position: relative;
		color: $white;
		right: 0;
		font-size: 10px;
		font-weight: 100;
		transition: 0.1s ease all;
		margin: 0 0 0 5px;
		bottom: 0;
	}
}


.button-with-down-arrow {
	font-family: 'Lato', sans-serif;
	padding:9px 10px;
	font-weight: 400;
	font-family: 'Lato', sans-serif; 
	position: relative;
	font-size: 15px;
	color: $white;
	background: $blue;
	text-transform: uppercase;
	min-width:130px;
	display: inline-block;
	text-align: center;
	&:hover {
		color: $white;
		background: $sky-blue;
		text-decoration: none;
		&:before {color: $white;}
	}
	&:after {
		font-family: FontAwesome;
		content: "\f078";
		position: relative;
		color: $white;
		right: 0;
		font-size: 8px;
		font-weight: 100;
		transition: 0.1s ease all;
		margin: 0 0 0 8px;
		bottom: 2px;
	}
}

.button-border {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	display: block;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform:translateY(-50%); 
		-moz-transform:translateY(-50%); 
		-ms-transform:translateY(-50%); 
		-o-transform:translateY(-50%); 
		-webkit-transform:translateY(-50%);
		background: $gold;
		display: block;
		width: 100%;
		height: 1px;
	}
	.button-with-arrow{ margin: 0; }
}

.gold-button-with-arrow {
	font-family: 'Lato', sans-serif;
	padding:9px 25px ;
	font-weight: 700;
	font-size: 16px;
	width: auto;
	text-align: center;
	display: inline-block;
	position: relative;
	color: $green;
	background: $gold;
	border: transparent 1px solid;
	min-width:130px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	&:hover {
		color: $gold;
		background: transparent;
		border: $gold 1px solid;
		
		&:after {color: $gold;}
	}
	&:after {
		font-family: FontAwesome;
		content: "\f054";
		position: relative;
		color: $green;
		right: 0;
		font-size: 10px;
		font-weight: 100;
		transition: 0.1s ease all;
		margin: 0 0 0 8px;
		bottom: 0; 
	}
	.fa {font-size: 14px; margin-right: 3px;}
}

ul{list-style:disc;}
ul ul{ list-style:circle; padding-left:15px;}
li{margin:0;padding:0;}
ol, ul{margin:0;padding:0; margin-bottom: 25px; /*list-style:inside;*/ padding-left: 18px; display: inline-block; width: 100%;}
.wpb_text_column ol:last-child, .wpb_text_column ul:last-child{margin-bottom: 25px; }
ul p:empty{display:none;}
ol ul, ol ol, ul ul, ul ol{ padding-bottom:0 !important; margin-bottom: 0 !important;}
ol li{list-style-type:decimal}
ol li ul li{list-style-type:disc}
li{padding: 0px; margin: 0px 0px 5px;font-weight:400; font-family: 'Lato', sans-serif; font-size: 16px;}
.hide {display:none !important;}
.wp-caption-text { margin-top: 20px; }
img.alignright {  float: right; margin-left: 20px; margin-bottom: 20px;  }
img.alignleft { float: left; margin-right: 20px; margin-bottom: 20px; }
img.aligncenter { display: block; margin-left: auto; margin-bottom: 30px !important; margin-right: auto; height:auto; text-align: center;}

.alignright {float: right; margin-left: 20px; margin-bottom: 20px;}
.alignleft { float: left; margin-right: 20px; margin-bottom: 20px;}
.aligncenter { display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;text-align: center;}

a img{border:none}
img{ border:none; outline:none; max-width:100%;}

@media (max-width: 767px){
	.alignright, 
	.alignleft, 
	.aligncenter 
	{ 
		width: 100%;
		text-align: center;
		margin: 0 auto 20px auto !important; 
		clear: both; 
		float: none !important;
	}
}

@media only screen and ( min-width: 768px) and ( max-width: 1023px) {
	.alignright, .alignleft{width:50% !important;}
}

.hide{
	display: none !important; 
}