
// Start with assigning color names to specific hex values.

$white:  #ffffff !default;
$black:  #000000 !default;
$red:    #d9534f !default;
$red-light: #d36462 !default;
$orange: #ec8d22 !default;
$yellow: #ffd500 !default;
$yellow-light: #f2f2ed !default;
$yellow-lighter: #edede6 !default;
$yellow-gold: #e7e7df !default;


/* START */

$sky-blue:	#bcd5d7 !default;
$gray:		#3d4d55 !default;
$green:		#235741 !default;
$gold:		#d5b36a !default;
$steel:		#5e818a !default;
$floral-white: #f7f1e4 !default;
$hurricane-mist: #eff3e7 !default;
$mystic: #e8f0f1 !default;
/* END */

$blue:   	#280071 !default;
$pink-dawn:	#f2ece2 !default;

$gray-gold:		#7f736f !default;

$site-color:   #4d4d4d !default; 
$hr-color: #dbd7d1 !default;

// Create grayscale
$gray-dark:                 #8e8480 !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$maroon: #8e8480 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $site-color !default;
$brand-success:             #235741 !default;
$brand-info:                $blue !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

$brand-facebook:            #3b5999 !default;
$brand-twitter:             #55acee !default;
$brand-linkedin:            #007ab9 !default;
$brand-instagram:           #3f729b !default;
$brand-youtube:             #ff0000 !default;
$brand-podcast:             #20a4b0 !default;

$brand-flickr:             #e12c93 !default;

// Z-Index

$z-index-base: 1;
$z-index-mid: 2;
$z-index-high: 3;
$z-index-uber: 4;


// Design sizes

$lgdesktop-design: 1440px;
$smdesktop-design: 1024px;
$tablet-design: 768px;
$mobile-design: 320px;


// Breakpoints

$lgdesktop-breakpoint: 1440px;
$smdesktop-breakpoint: 1200px;
$tablet-breakpoint: 1023px;
$smtablet-breakpoint: 750px;
$mobile-breakpoint: 600px;


// Media Queries

$lgdesktop-query: 'only screen and (max-width: ' + $lgdesktop-breakpoint + ')';
$smdesktop-query: 'only screen and (max-width: ' + $smdesktop-breakpoint + ')';
$tablet-query: 'only screen and (max-width: ' + $tablet-breakpoint + ')';
$smtablet-query: 'only screen and (max-width: ' + $smtablet-breakpoint + ')';
$mobile-query: 'only screen and (max-width: ' + $mobile-breakpoint + ')';


// Default wrapper sizing (flex and grid)
$wrapper-width: 1576px;